rect {
  rx: 2px;
  fill: #f4f4f4;
}

.add-button-layover {
  width: 100%;
  display: inherit;
  position: absolute;
  top: 0;
}

.add-button-wrapper {
  position: fixed;
  right: 25px;
  bottom: 45px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 32px;
  z-index: 3;
  background: var(--primary-color);
  box-shadow: var(--box-shadow-x);
  transition: 300ms ease-in-out;
}
