.category-card {
  width: 100%;
  border-radius: 4px;
  background: #fff;
  box-shadow: var(--box-shadow-x);

  .category-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    padding: 25px 25px 0;

    h2 {
      font-size: 18px;
      font-weight: 700;
    }
  }
}
