.picker-wrapper {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  transform: translate(0, 175px);
  transition: 300ms ease-in-out;
  z-index: 2;

  ul.category-list {
    padding-top: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px 4px 0 0;
    background: #fff;

    li.category {
      padding: 15px;
      border-bottom: 1px dotted #dbdbdb;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
