.filter-wrapper {
  position: sticky;
  top: 55px;
  width: 100%;
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  z-index: 10;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

  &__filter-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__filter {
   padding: 20px 10px;
  }
}
