.item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  height: 50px;
  padding: 0 20px 0 25px;
  border-bottom: 1px dotted #f4f4f4;
}

.info {
  display: flex;
  gap: 15px;
}

.actions {
  display: flex;
  align-items: center;
  font-size: 18px;
  height: 100%;  
  
  .increment {
    color: var(--confirm);
    padding: 5px 10px;
    &:active{
      background-color:#ff8d222f;
    }
  }

  .decrement {
    color: var(--cancel);
    padding: 5px 10px;
    &:active{
      background-color:#ff8d222f;
    }
  }

  .remove {
    color: var(--light-gray);
    padding: 5px 10px;
    &:active{
      background-color:#ff8d222f;
    }
    & span {
      transform: rotate(45deg);
      display: inline-block;
    }
  }
}
